/* contains all custom css for the site*/

body {
	font-family: Arial, Tahoma, sans-serif;
}

.navbar-brand {
	font-family: 'Copperplate Gothic','Times New Roman',serif;
	font-weight: bold;
}

footer {
	margin-top: 50px;
}

a {
	outline:0 !important; /*remove dotted outline in links*/
}