/* contains all custom css for the site*/

body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 1.2em;
}

.navbar-brand {
	font-family: 'Copperplate Gothic','Times New Roman',serif;
	font-weight: bold;
}

footer {
	margin-top: 50px;
}

a,button, input[type=button] {
	outline:0 !important; /*remove dotted outline in links, buttons*/
}


a:active,
button:active {
	/* button press-down effect*/
	position: relative;
	top:1px;
}